<h1>Contact me!</h1>
<p>Enter yout contact information</p>

<div class="col-md-6">

  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% elsif flash[:warning] %>
      <div class="alert alert-danger"><%= flash[:warning] %></div>
    <% else %>
  <% end %>

<h1>Contact Us</h1>

<%= simple_form_for :contact do |f| %>
    <%= f.input :email, placeholder: 'type email here' %>
    <%= f.input :message, placeholder: 'type message here', :as => :text %>
    <%= f.button :submit, "Send" %>

<%= link_to 'Home', root_path %>

<% end %>

</div>
